// colors 는 variables로 구현됩니다. 전역으로 적용되므로 어디서든 끌어와서 사용할 수 있습니다.

// ------------- BRANDING MAIN

$Primary: #F2D852;
$Secondary: #F4E69C;
$Tertiary: #736627;
$quaternary: #BFAA41;
$Dark: #736C49;
$Light: #FFFFFF;

// ------------- TEXT MAIN

$TextBlack: #202020;
$TextGrey: #383838;
$DarkGrey: #505050;
$Grey: #808080;
$LightGrey: #A9A9A9;

